body {
    background-image: url(images/white_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }

    h1,
h2 {
    font-weight: bolder;
}


ul {
    list-style-type: none;
    padding: 0;
}

.container {
    margin-bottom: 25px;
    padding: 25px;
}

.row {
    margin-bottom: 25px;
}

.btn-group button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    width: 100%;
    display: block; 
}

.btn-group button:not(:last-child) {
    border-bottom: none;
}
  
.btn-group button:hover {
    background-color: lightblue;
}

.hide {
    display: none;
}

.grow {
    width: 400px;

}

#timer {
    font-size: 20px;
    color: black;
}